.khan__buy-link {
    right: 320px;
    margin: 68px 0 0px;
    text-decoration: none;
    color: #2f80ed;
    opacity: 1;
    transition: opacity 1s ease;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
  }

  .khan__buy-link:hover {
    opacity: 50%;
  }
  